@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap");


:root {
  --t-color01 : #333;
  --t-color02 : #fff;
  --t-color03 : #066aad;
  --bg-color01 : #006eff;
  --bg-color01 : #212772;
}


body {
  background-color :var(--bg-color03) ;
  font-family : 'Noto Sans KR','맑은 고딕',sans-serif;
  font-size : 12px;
  color : var(--t-color01);
  overflow-x : hidden;
}

a {
  color : var(--t-color01);
  text-decoration : none;
  font-size : 12px;
}

.hidden {
  display : none;
}