@charset "utf-8";

body { background-color : #ff0; }

#m_nav {
}

#m_nav ul {
  position : fixed;
  right : 60px;
  top : 50%;
  transform : translateY(-50%);
  display : flex;
  flex-direction : column;
  gap : 20px;
  width : 50px;
  height : 330px;


}







#m_nav ul li {
  position : absolute;
  width : 50px;
  height : 50px;
  transition : .5s;
  overflow : hidden;
}

#m_nav ul li:first-child {
  top : 0;
  right : 0;
}
#m_nav ul li:nth-child(2) {
  top : 70px;
  right : 0;
}
#m_nav ul li:nth-child(3) {
  top : 140px;
  right : 0;
}
#m_nav ul li:nth-child(4) {
  top : 210px;
  right : 0;
}
#m_nav ul li:nth-child(5) {
  top : 280px;
  right : 0;
}

#m_nav ul li span {
  display : inline-block;
  position : absolute;
  left : 0;
  top : 0;
  width : 50px;
  height : 50px;
  border-radius : 50%;
  background-color : aquamarine;
  color : #fff;
  font-weight : 900;
  font-size : 20px;
  line-height : 50px;
  text-align : center;
  cursor : pointer;
  z-index : 1;
}

#m_nav ul li a {
  position : absolute;
  right : 0px;
  top : 0;
  display: block;
  width : 0px;
  height : 50px;
  border-radius : 0 28px 28px 0;
  text-align : center;
  color : #fff;
  line-height : 50px;
  text-indent : 20px;
  transition : .5s;
  font-size : 0;
  font-weight : 900;
}

#m_nav ul li:first-child:hover {width : 250px;}
#m_nav ul li:first-child:hover > a {
  font-size : 20px;
  width : 227px;
  background-color : rgba(0,0,0,.6);

}
#m_nav ul li:nth-child(2):hover {width : 250px;}
#m_nav ul li:nth-child(2):hover > a {
  font-size : 20px;
  width : 227px;
  background-color : rgba(0,0,0,.6);
}

#m_nav ul li:nth-child(3):hover {width : 250px;}
#m_nav ul li:nth-child(3):hover > a{
  font-size : 20px;
  width : 227px;
  background-color : rgba(0,0,0,.6);
}

#m_nav ul li:nth-child(4):hover {width : 250px;}
#m_nav ul li:nth-child(4):hover > a{
  font-size : 20px;
  width : 227px;
  background-color : rgba(0,0,0,.6);
}

#m_nav ul li:last-child:hover {width : 250px;}

#m_nav ul li:last-child:hover > a{
  font-size : 20px;
  width : 227px;
  background-color : rgba(0,0,0,.6);
}
