@charset "utf-8";

:root {
  --t-color01 : #333;
  --t-color02 : #fff;
  --t-color03 : #066aad;
  --bg-color01 : #006eff;
  --bg-color02 : #212772;
  --bg-color03 : #fff;

  --f-size : 14px;
  --f-size01 : 16px;

}



/* 모달 서식 */

.modal {
  width : 100%;
  height : 100%;
  position : fixed;
  left : 0; top : 0;
  background-color : rgba(0,0,0,.6);
  z-index : 9999;
}

.modal > .m_inner {
  width : 450px; height : 640px;
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%, -50%);
}

.m_inner > p {
  background-color : #fff;
  line-height : 40px;
  font-size : var(--f-size01);
  padding : 0 5px;
  box-sizing : border-box;
}

.m_inner > p > input {
  display : inline-block;
  margin-right : 10px;
}

.m_inner > p a{
  color : var(--t-color01);
  position : absolute;
  right : 10px;
  font-size : var(--f-size01);
}

.m_inner label[for="ch"] {
  color : var(--t-color01);
}



main{}

main > section {}

#main_intro{
  height : 100vh;
  overflow : hidden;
  position : relative;
}

#main_intro h2{display : none;}

#main_intro article{
  position : absolute;
  width : 100%;
  top : 46%;
  transform : translateY(-80%);
  z-index : 100;
  text-align : center;
  color : var(--t-color02);
}

#main_intro article h3 {
  font-size : 60px;
  font-weight : bold;
  margin-bottom : 20px;
}

#main_intro article p {
  line-height : 18px;
  font-size : 16px;
  margin-bottom : 20px;
}

#main_intro article a{
  color : var(--t-color02);
  font-size : 14px;
  text-decoration : underline;
  margin : 0 20px;
  padding : 5px 10px;
}

#main_intro > a {
  position : absolute;
  width : 30px;
  height : 30px;
  left : 50%;
  bottom : 5%;
  border-left : 2px solid #fff;
  border-bottom : 2px solid #fff;
  text-indent : -9999px;
  transform : rotate(-45deg);
}

#main_intro article a:first-of-type {
  background-color : var(--bg-color01);
}

#top3, #intro, #test, #event, #buy, #cs {
  margin : 50px 0;
}

#intro .more_btn {
  position : absolute;
  left : 50%;
  transform : translateX(-50%);
  bottom : 60px;
}


/* 더보기버튼 */
.more_btn {
  font-size : var(--f-size);
  border : 1px solid #333;
  padding : 10px 30px;
  transition : .5s;
}

.more_btn:hover {
  background-color : var(--bg-color01);
  color : var(--t-color02);
}

/* 시승신청 서식 */

#test{
  text-align : center;
}

#test .p01{
  text-align : center;
  font-size : var(--f-size01);
  line-height : 40px;
}

#test > article {
  width : 430px;
  height : 260px;
  border : 1px solid #ccc;
  padding : 15px;
  text-align : center;
  position : relative;
  display : inline-block;
  margin-top : 50px;

}

.t_drive_l{
  margin-top : 10px;
  margin-right : 30px;
}

.t_drive_r {
  transform : translateY(-11px);
}

#test > article > h3 {
  padding-top : 30px;
  font-weight : bold;
  line-height : 40px;
}

#test > article > p {
  font-weight : 500;
  font-size : var(--f-size);
  line-height : 20px;
  padding : 15px 0;
}


.test_d_btn {
  background-color : var(--bg-color02);
  color : #fff;
  line-height : 30px;
  padding : 10px 60px;
}

.test_d_btn01 {
  color : var(--bg-color01);
  transform : translateY(10px);
  position : relative;
  top : 20px;
}

.t_drive_p2 {
  transform : translateY(70px);
}

.t_drive_r .t_drive_p2 {
  transform : translateY(81px);
}



/* 이벤트 섹션 */


#event > p {
  text-align : center;
  font-size : var(--f-size01);
}


.ctrl_btn01 {
  display : flex;
  width : 160px;
  height : 15px;
  margin : 0 auto;
}

.ctrl_btn01 li {
  background-color : #333;
  width : 15px;
  height : 15px;
  border-radius : 50%;
  margin : 5px;
}

.ctrl_btn01 li.on {
  background-color : var(--t-color03);
}




/* 구매안내 창 */
#buy {
  text-align : center;
}
#buy h3 {
  font-size : 24px;
  font-weight : 500;
  text-align : center;
  padding : 60px 0 50px 0;
}

.t_color03{
  color : var(--t-color03);
}

#buy ul {
  width : 1000px;
  margin : 30px auto;
  display : flex;
  justify-content : space-around;
  flex-wrap : wrap;
}

#buy ul > li {
  width : 33.3%;
  margin-bottom : 60px;
  text-align : center;
}

#buy > ul > li h4 {
  font-size : 16px;
  font-weight : bold;
}

#buy ul > li img {
  width : 70px;
  padding : 15px 0;

}

.p03 {
  line-height : 20px;
}

iframe {
  width : 1000px;
  height : 562px;
  border : none;
}

/* 고객지원 */

#cs{
  background-color : #ececec;
}

#cs > article {
  width : 1200px;
  margin : 0 auto;
  background-color : #fff;
  padding-bottom : 40px;
}

.clear::after {
  display : block;
  content : "";
  clear : both;
}

#cs article h3 {
  font-size : 18px;
  text-align : center;
  padding : 60px 0 20px 0;
  font-weight : bold;
}


.ars_left, .ars_right {
  width : 50%;
  background-color : #fff;
  padding : 20px 30px;
  box-sizing : border-box;
  float : left;
  position : relative;
  display : flex;
  justify-content : center;
  align-items : center;
}

.ars_left::after {
  width : 1px;
  height : 200px;
  background-color : #ccc;
  display : block;
  content : "";
  position : absolute;
  right : 0px;
  top :0px;
}

.cs_p {
  width : 175px;
  text-align : center;
}

.cs_p strong {
  display : inline-block;
  font-weight : 500;
  font-size : var(--f-size01);
  margin-bottom : 15px;
}

.link01 {
  color : var(--t-color03);
  line-height : 30px;
}

.link01::after {
  content : ">";
  color : var(--t-color03);
}

.car, .member {
  display : inline-block;
  width : 80px;
  height : 46px;
  background-image : url("../images/bg-support-ars.png");
  text-indent : -9999px;
}

.car {
  transform : translateY(50px);
}

.member {
  width : 70px;
  transform : translateY(20px);
  background-position : 70px 0;
}

#cs dl{
  padding-left : 20px;
  line-height : 22px;
}

#cs dl > dt {
  font-weight : bold;
}

#cs dl > dd {
  color : #6d6d6d;
}


.cs_etc {
  width : 1200px;
  margin : 15px auto;
  display : flex;
  justify-content : space-between;
}

.cs_etc > li {
  width : 330px;
  height : 275px;
  background-color : #fff;
  padding : 0 60px 10px 60px;
  text-align : center;
  position : relative;
}

.cs_etc > li > h3 {
  text-align : left;
  font-weight : bold;
  padding : 40px 0 20px 0;
  font-size : 18px;
}

.cs_etc > li > p {
  text-align : left;
  line-height : 20px;
}

.cs_etc > li > p > span {

}

.cs_etc > li:last-child img {
  padding-top : 18px;
}



.btn01{
  background-color : var(--bg-color02);
  color : #fff;
  padding : 10px 30px;
  position : absolute;
  bottom : 40px;
  left : 50%;
  transform : translateX(-50%);
}



.ran_banner{
  width : 1200px;
  height : 300px;
  margin : 50px auto;
}

.ran_banner img {
  width : 1200px;
  height : 300px;
}



